<div class="resume-details">
    <h1>My Objective</h1>
    <p>
        I'm looking for an opportunity that provides meaningful impact to products, users, and the people on my team. I love looking for pain points and fixing them. While we should not dwell on failures or shortcomings, without identifying them we cannot move forward into the future. I enjoy building and leading teams by focusing on each person's strengths instead of always trying to fix their weaknesses. My goal is to make the company I work for the best in a smart, balanced way. 
    </p>
    <h2> Plus One Robotics</h2>
    <h4> Engineering Manager - Pick One Team | February 2020 – Present</h4>
    <ul class="job-list">
        <li>Oversee architecture and processes for vision guided robot systems in the logistics industry</li>
        <li>Manage team responsible for maintaining Ubuntu image, Robot API, Module API, and Perception libraries for 3D and AI</li>
        <li>Participate in all phases of the software development life cycle including QA, deployment, and bug fixing</li>
        <li>Provide exceptional customer experience by monitoring customer feedback and production data</li>
        <li>Collaborate with CTO and VP on strategic roadmap while considering the tradeoffs inherent in software development with a data-driven mindset</li>
        <li>Foster a culture where team members have room to take risks and learn from mistakes while not losing sight of accountability</li>
        <li>Help engineers to maximize the impact of their strengths, minimize the impact of their weaknesses, achieve their personal career goals, and increase their scope of impact and influence</li>
        <li>Help recruit, interview, and onboard engineers</li>
        <li>Collaborate with product owners and team leads to define priorities and timelines</li>
        <li>Collaborate with Canonical to create a certified Ubuntu disk image compatible with our hardware</li>
        
        <li>Evolve and iterate on the development lifecycle and processes to fit team growth and company needs</li>
        <li></li>
        <li>Collaborated with team to architect, build, and document products that improve our timing, reliability, and accuracy</li>
        <li>Developed, mentored, and evaluated engineering staff</li>
        <li>Added new functionality and iterated on existing products</li>
        <li>I decided we should standardize add-on modules for our main product thus helping the maintenance burden and extend our system in a sustainable way</li>
        
        <li></li>
    </ul>
    <h1>Education</h1>
    <h2> Texas A&M University | College Station, TX</h2>
    <h4> Graduated December 2010</h4>
    <ul class="job-list">
        <li>B.S. Electrical Engineering and Minor in Mathematics</li>
        <li>Studies included programming in C++, C, Verilog, VHDL, Electrical Circuit Design, Electric Motors and Drives, Power Electronics, extensive use of Microsoft Office, and Operating Systems</li>
        <li>Passed the Fundamentals of Engineering Exam (FE)</li>
    </ul>
</div>